**/**/checkpoints
**/**/__pycache__
**/**/.ipynb_checkpoints
**/**/.DS_Store
**/**/*.mat
**/**/*.mp4
gamebet/datasets/yolov8
gamebet/datasets/SoccerNet
gamebet/datasets/soccer_seg_detection
gamebet/datasets/soccer_data
.Trash-0
.flake8
.venv
.venvs
